<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/bootstrap-switch.min.css}"/>
</head>
	
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>
							Cadastro de usuario
						</h1>
					</div>
					<div class="col-sm-2">
						<div class="aw-page-header-controls">	
							<a class="btn btn-default" th:href="@{/usuarios}">
								<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisa de usuarios</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
						
			<form method="post" th:object="${usuario}" th:action="@{/usuarios/novo}">
				
				<brewer:message/>
				
				<div class="form-group bw-required" brewer:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}">
				</div>

				<div class="row">
					<div class="col-sm-6 form-group bw-required" brewer:classforerror="email">
						<label for="email" class="control-label">E-mail</label>
						<input id="email" type="text" class="form-control" th:field="*{email}">					
					</div>
					
					<div class="col-sm-3 form-group bw-required" brewer:classforerror="dataNascimento">
						<label for="nascimento" class="control-label">Data de Nascimento</label>
						<input id="nascimento" type="text" class="form-control js-date" th:field="*{dataNascimento}"
						autocomplete="off">
					</div>
				</div>
	
				<div class="row">
					<div class="col-sm-3 form-group " brewer:classforerror="senha" th:classappend="${usuario.novo} ? bw-required">
						<label for="senha" class="control-label">Senha</label>
						<input id="senha" type="password" class="form-control" th:field="*{senha}">					
					</div>
					
					<div class="col-sm-3 form-group " brewer:classforerror="confirmacaoSenha">
						<label for="confirmacaoSenha" class="control-label">Confirmação de senha</label>
						<input id="confirmacaoSenha" type="password" class="form-control" th:field="*{confirmacaoSenha}">
					</div>

					<div class="col-sm-3 form-group">
						<label for="status">Status</label>
						<div>
							<input name="status" type="checkbox" class="js-status" 
								data-size="small" data-off-color="danger" data-on-text="Ativo" data-off-text="Inativo"
								th:field="*{ativo}">						
						</div>
					</div>
				</div>	

				<div class="row">
					<div class="col-sm-3 form-group bw-required" brewer:classforerror="*{grupos}">
						<label for="grupos" class="control-label">Grupos</label> 
						<div>
							<th:block th:each="grupo : ${grupos}">
								<div class="checkbox checkbox-inline">
									<input type="checkbox" name="grupos" th:value="${grupo.codigo}" th:field=*{grupos}> 
									<label th:text="${grupo.nome}" th:for="${#ids.prev('grupos')}"></label>
								 </div>
							</th:block>
						 </div>							 							
					</div>
				</div>				

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
				
			</form>
		</div>	
	</section>

<th:block layout:fragment="javascript-extra">

	<script th:src="@{/js/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/js/vendors/bootstrap-notify.min.js}"></script>	
	<script th:src="@{/js/brewer-growl.js}"></script>			
		
	<script th:inline="javascript">
		
		$(function() {			
		
			$('.js-status').bootstrapSwitch();
			
			if([[${mensagem}]]) {
				var brewerGrowl = new Brewer.Growl('success', [[${mensagem}]]);
				brewerGrowl.exibe();
			}
		});
		
	</script>
</th:block>

</body>
</html>