<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
	
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>
							Cadastro de cidade
						</h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">	
							<a class="btn btn-default" th:href="@{/cidades}">
								<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisa de cidades</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			

			<form method="post" th:object="${cidade}" th:action="@{/cidades/nova}">
				
				<brewer:message/>
				
				<div class="row">
					
					<div class="col-sm-4 form-group bw-required" brewer:classforerror="estado">
						<label for="estado" class="control-label">Estado</label>
						<select id="estado" class="form-control" th:field=*{estado}>
							<option value=""> Selecione o estado</option>
							<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">PR - Paraná</option>							
						</select>
					</div>

					<div class="col-sm-6 form-group bw-required" brewer:classforerror="nome">
						<label for="cidade" class="control-label">Cidade</label>
						<input id="cidade" type="text" class="form-control" th:field="*{nome}">
					</div>
				</div>				

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
				
			</form>
		</div>
				
	</section>

<th:block layout:fragment="javascript-extra">
	
	<script th:src="@{/js/vendors/bootstrap-notify.min.js}"></script>	
	<script th:src="@{/js/brewer-growl.js}"></script>	

	<script th:inline="javascript">
		
		$(function() {			
						
			if([[${mensagem}]]) {
				var brewerGrowl = new Brewer.Growl('success', [[${mensagem}]]);
				brewerGrowl.exibe();
			}
		});
		
	</script>

</th:block>

</body>
</html>