<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row" align="left">
					<div class="col-md-8 col-xs-12">
						<h1>Cidades<small style="margin-top: 1px">Cidades cadastradas no sistema</small></h1>
					</div>
					<div class="col-md-4 col-xs-12">
							<ol class="breadcrumb">
							  <li><a th:href="@{/}">Dashboard</a></li>
							  <li><a th:href="@{/cidades}">Cidades</a></li>
							  <li class="active">Pesquisa</li>
							</ol>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			

			<form method="get" th:object="${cidadeFilter}">
				
				
				<div class="row">
					
					<div class="col-sm-5 form-group">
						<label for="estado" class="control-label">Estado</label>
						<select id="estado" class="form-control" th:field=*{estado}>
							<option value="">Todos</option>
							<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">PR - Paraná</option>							
						</select>
					</div>

					<div class="col-sm-7 form-group">
						<label for="cidade" class="control-label">Cidade</label>
						<input id="cidade" type="text" class="form-control" th:field="*{nome}">
					</div>
				</div>				

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">
						<i class="fa fa-search"></i>
						<span class="hidden-xs hidden-sm">Pesquisar</span>
					</button>
					
					<a class="btn btn-primary" th:href="@{/cidades/nova}">
						<i class="fa fa-plus"></i> <span class="hidden-xs hidden-sm">Adicionar</span>
					</a>
				</div>
				
			</form>
		
			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							
							<th class="table-clientes-col-nome">
								<brewer:order page="${pagina}" field="nome" text="Nome"/>
							</th>
	
							<th class="table-clientes-col-tipo">
								<brewer:order page="${pagina}" field="estado" text="Estado"/>
							</th>
		
							<th class="table-estilos-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')"></th>				
						</tr>
					</thead>
	
					<tbody>
						<tr th:each="cidade : ${pagina.conteudo}">
							
							<td th:text="${cidade.nome}">Rio Branco</td>
							
							<td class="text-right" th:text="${cidade.estado.nome}">Acre</td>
							
							<td class="text-center" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')" >
								<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/cidades/{codigo}(codigo=${cidade.codigo})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								
								<a class="btn  btn-link  btn-xs js-exclusao-btn" title="Excluir"
									data:url="@{/cidades/{codigo}(codigo=${cidade.codigo})}"
									data:objeto="${cidade.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${pagina.vazia}">
							<td colspan="2">Nenhuma cidade encontrada</td>
						</tr>
					</tbody>
					
				</table>
			</div>			
			
			<brewer:pagination pagina="${pagina}"/>			
			
		</div>
				
	</section>

<th:block layout:fragment="javascript-extra">
	
</th:block>

</body>
</html>