<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:brewer="http://brewer.algaworks.com">
	
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if="${estilo.novo}"> Cadastro de estilo </h1>
						<h1 th:unless="${estilo.novo}"> Edição de estilo - [[${estilo.nome}]] </h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">	
							<a class="btn btn-default" th:href="@{/estilos}">
								<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisa de estilos</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			
			<form method="post" th:object="${estilo}" th:action="@{/estilos/novo}">

				<brewer:message/>
				
				<input type="hidden" th:field="*{codigo}"/>
				
				<div class="row">
					<div class="col-sm-8 form-group" brewer:classforerror="nome">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}">
					</div>
				</div>				

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
				
			</form>
		</div>
		
		
	</section>

	<th:block layout:fragment="javascript-extra">

		<script th:inline="javascript">
			
			$(function() {				
				if([[${mensagem}]]) {
					var brewerGrowl = new Brewer.Growl('success', [[${mensagem}]]);
					brewerGrowl.exibe();
				}
			});
			
		</script>
	</th:block>

</body>
</html>