<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:brewer="http://brewer.algaworks.com">
	
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>
							Pesquisa de estilos
						</h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">	
							<a class="btn btn-default" th:href="@{/estilos/novo}">
								<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Cadastro de estilo</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			
		<form method="GET" th:object="${estiloFilter}">

				<div class="row">
					
					<div class="col-sm-8 form-group">
						<label for="nome" class="control-label">Nome do estilo</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}">
					</div>
				</div>				

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Pesquisar</button>
				</div>
				
			</form>

		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-estilos-col-codigo">Cód.</th>
						
						<th class="table-estilos-col-nome">
							<brewer:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						<th class="table-estilos-col-acoes"></th>				
					</tr>
				</thead>

				<tbody>
					<tr th:each="estilo : ${pagina.conteudo}">

						<td class="text-center" th:text="${estilo.codigo}">AA1234</td>
						<td th:text="${estilo.nome}">Cerveja de Trigo</td>

						<td class="text-center">
							<a class="btn  btn-link  btn-xs" title="Editar"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="2">Nenhum estilo encontrado</td>
					</tr>
				</tbody>
				
			</table>
		</div>			
		
		<brewer:pagination pagina="${pagina}"/>
		 	
		</div>
		
		
	</section>

	<th:block layout:fragment="javascript-extra">

	</th:block>

</body>
</html>